

    <div class="container">
      <div class="jumbotron text-center">
        <h1>Indian Institute of Technology</h1>
        <h2> Kharagpur</h2>
        <h3> Alumni of the 1953-1957 batch</h3>
      </div>
    </div>
    

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <img src="images/scan0030.jpg"  class="img-responsive img-thumbnail" alt="Generic placeholder thumbnail">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
           <img src="images/scan0008.jpg"  class="img-responsive img-thumbnail" alt="Generic placeholder thumbnail">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <img src="images/scan0003.jpg"  class="img-responsive img-thumbnail" alt="Generic placeholder thumbnail">
        </div>
        <div class="col-md-4">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <img src="images/scan0042.jpg"  class="img-responsive img-thumbnail" alt="Generic placeholder thumbnail">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
           <img src="images/scan0031.jpg"  class="img-responsive img-thumbnail" alt="Generic placeholder thumbnail">
        </div>
      </div>
    </div> <!-- /container -->